*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 800px;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: .625rem;
}

.container div{
    width: calc(100% / 10);
    padding: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: .3125rem;
}

.number{
    background-color: orange;
    
}

.Frizz{
    background-color: lightblue;
}


.Buzz{
    background-color: salmon;
}


.FrizzBuzz{
    background-color: silver;
}

h1{
    color: greenyellow;
    text-align: center;
    margin-top: 1.25rem;
}